.tecnologias{
    width: 736px;
    margin: auto;
    height: 172px;
    border-radius: 8px;
    border-top: 1px solid #fff;
}
.tecnologias .content{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 1rem;
}
.tecnologias ul{
    list-style: none;
}
.tecnologias li{
    margin-top: 0.5rem;
}

.card-tecnologia{
    background-color: #262626;
    border-radius: 5px;
}
.card-tecnologia input{
    border: 6px solid #4EA8DE;
}
.card-tecnologia p{
    color: #f2f2f2;
    font-size: 14px;
    line-break: anywhere;
}
.card-tecnologia img:hover{
    cursor: pointer;
}